# SCRAPING ASSIGNMENT-2

In [1]:
#installing selenium
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.4.0)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sniffio in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\hp\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

ANSWER-1

In [113]:
#importing all the important libraries.

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [114]:
#calling webdriver chrome in driver variable.

drive=webdriver.Chrome(r'C:\Users\HP\Downloads\chromedriver_win32\chromedriver.exe')

In [115]:
#getting all the data of site on the driver or we can say opening the link.

drive.get('https://www.naukri.com/')

In [116]:
#sending data analyst in field of designation using code .

designation=drive.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [117]:
#sending bangalore in the location field.

location=drive.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')

In [118]:
#clicking on the search button using code.

search=drive.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [119]:
#scraping job title.

job_title=[]
title_tags=drive.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [120]:
#scraping location of job.

job_location=[]
location_tags=drive.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [121]:
#scraping experience required for the job.

job_exp=[]
exp_tags=drive.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in exp_tags[0:10]:
    exp=i.text
    job_exp.append(exp)

In [122]:
#scraping companies name.

company=[]
com_tags=drive.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in com_tags[0:10]:
    compan=i.text
    company.append(compan)

In [123]:
#checking the length of the variables .

print(len(job_title),len(job_location),len(job_exp),len(company))

10 10 10 10

In [124]:
#creating dataframe using pandas for the data collected from the page.

import pandas as pd
table=pd.DataFrame({'JOB_TITLE':job_name,'JOB_LOCATION':job_loc,'EXPERIENCE_REQ':job_exp,'company':company})
table

,JOB_TITLE,JOB_LOCATION,EXPERIENCE_REQ,company
0,Tcs Hiring For Data Scientist,"Bangalore/Bengaluru, Chennai, Mumbai (All Areas)",0-2 Yrs,iMindYourBusiness
1,Senior Manager - EmTech - Machine Learning - P&T,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",3-6 Yrs,KrazyBee
2,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",6-11 Yrs,Global Indian School Education Services
3,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",6-8 Yrs,Accenture
4,Data scientist _Tata Consultancy Services(Tcs),"Bangalore/Bengaluru, Kochi/Cochin, Indore, New...",2-4 Yrs,Samaira HR Solutions
5,Job||Job Opening For AI Technologist - Data Sc...,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",5-7 Yrs,Optum
6,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",0-2 Yrs,Bright Money
7,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",0-1 Yrs,Info Origin Inc.
8,Data Scientist,Bangalore/Bengaluru,3-8 Yrs,Concentrix
9,Forecasting Analyst/ Data Scientist (US Client),"Bangalore/Bengaluru, Gurgaon/Gurugram\n(WFH du...",0-2 Yrs,Allegis Services India Pvt. Ltd.

ANSWER-2

In [80]:
#importing all the important libraries.

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [81]:
#calling webdriver chrome in driver variable.
driver=webdriver.Chrome(r'chromedriver.exe')

In [82]:
#getting all the data of site on the driver or we can say opening the link.

driver.get('https://www.naukri.com/')

In [87]:
#sending data scientist in field of designation using code .

designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [88]:
#sending bangalore in the location field.

location=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
location.send_keys('bangalore')

In [90]:
#clicking on the search button using code.

search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [93]:
#scraping job name.

job_name=[]
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    job_name.append(i.text)

In [94]:
#scraping job location.

job_loc=[]
loc_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in loc_tags[0:10]:
    job_loc.append(i.text)

In [95]:
#scraping company name.

company=[]
com_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in com_tags[0:10]:
    company.append(i.text)

In [96]:
#checking the length of the variables .

print(len(job_name),len(job_loc),len(company))

10 10 10

In [97]:
#creating dataframe from the data collected.

table=pd.DataFrame({'job_name':job_name,'job_loc':job_loc,'company':company})
table

,job_name,job_loc,company
0,Tcs Hiring For Data Scientist,"Bangalore/Bengaluru, Chennai, Mumbai (All Areas)",TATA CONSULTANCY SERVICES (TCS)
1,Senior Manager - EmTech - Machine Learning - P&T,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC
2,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
3,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
4,Data scientist _Tata Consultancy Services(Tcs),"Bangalore/Bengaluru, Kochi/Cochin, Indore, New...",TATA CONSULTANCY SERVICES (TCS)
5,Job||Job Opening For AI Technologist - Data Sc...,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Wipro
6,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited
7,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro
8,Data Scientist,Bangalore/Bengaluru,Concentrix
9,Forecasting Analyst/ Data Scientist (US Client),"Bangalore/Bengaluru, Gurgaon/Gurugram\n(WFH du...",Concentrix

ANSWER-3

In [14]:
#importing all the important libraries.

import selenium
import pandas as pd 
import time
import warnings
warnings.filterwarnings('ignore')
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [15]:
#calling webdriver chrome in driver variable.
driver=webdriver.Chrome(r'chromedriver.exe')

In [16]:
#getting all the data of site on the driver or we can say opening the link.

driver.get('https://www.naukri.com/')

In [17]:
#sending data scientist in field of designation using code .

designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [18]:
#clicking on the search button using code.

search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [20]:
#clicking on the location filter.

loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]/label/i')
loc.click()

In [21]:
#clicking on the salary filter.

sal=driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/i')
sal.click()

In [22]:
#scraping job name using xpath

job_name=[]
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    job_name.append(i.text)

In [23]:
#scraping location using xpath.

loc=[]
loc_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in loc_tags[0:10]:
    loc.append(i.text)

In [24]:
#scraping experience required using xpath.

exp=[]
exp_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in exp_tags[0:10]:
    exp.append(i.text)

In [25]:
#scraping companies name using xpath.

company=[]
com_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in com_tags[0:10]:
    compan=i.text
    company.append(compan)

In [26]:
#checking the length of the variables .

print(len(job_name),len(loc),len(exp),len(company))

10 10 10 10

In [27]:
#creating dataframe from the data collected.

data=pd.DataFrame({'JOB_TITLE':job_name,'JOB_LOCATION':loc,'COMPANY_NAME':company,'EXPERIENCE_REQUIRED':exp})
data

,JOB_TITLE,JOB_LOCATION,COMPANY_NAME,EXPERIENCE_REQUIRED
0,Job||Job Opening For AI Technologist - Data Sc...,"New Delhi, Hyderabad/Secunderabad, Pune, Chenn...",Wipro,5-10 Yrs
1,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
2,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
3,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,1-6 Yrs
4,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
5,Chat-bot Developer / Data Scientist,"Mumbai, New Delhi, Bangalore/Bengaluru\n(WFH d...",Big Seo Buzz,2-7 Yrs
6,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs
7,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
8,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",SECUREKLOUD TECHNOLOGIES,2-7 Yrs
9,Data Scientist,"Noida, Gurgaon/Gurugram, Jaipur",Celebal Technologies,1-5 Yrs

ANSWER-4

In [146]:
#importing all the important libraries.

import selenium
import pandas as pd
import time 
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [170]:
#calling webdriver chrome in dr variable.

dr=webdriver.Chrome(r'chromedriver.exe')

In [171]:
#getting all the data of site on the dr or we can say opening the link.

dr.get(' https://www.flipkart.com')

In [172]:
#sending sunglasses text into the search field using code.

product=dr.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
product.send_keys('Sunglasses')

In [173]:
#clicking on the search button using code.

search=dr.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [174]:
#scraping brand name using xpath.

brand=[]
b_tag=dr.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in b_tag:
    brand.append(i.text)

In [175]:
#scraping price using xpath.

price=[]
p_tag=dr.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in p_tag:
    price.append(i.text)

In [176]:
#scraping product description using xpath.

description=[]
d_tag=dr.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in d_tag:
    description.append(i.text)

In [177]:
#scraping discount using xpath.

discount=[]
dis_tag=dr.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in dis_tag:
    discount.append(i.text)

In [178]:
#scraping the url from the site page.

url=dr.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
url

[<selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="81e21447-e453-4ab9-a406-797365a55978")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="c6ee5624-1362-4bfd-b30c-238d0642259e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="0e650f1c-f97f-4991-9799-b09a254305b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="6ea1966a-1311-4720-a515-1c3ba17818d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="50539ddb-bc2a-4ddb-8ba2-30842595cbc3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="a3c9b6ad-4933-4432-9775-8a445a40f59e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="be457910-7ac7-4c72-8440-7d6addfb4c91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="b9c0a4eb-53cf-4e14-b47c-e9c5643f455f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="121fd134-4166-48c9-ac3c-aa5a0f95777d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="23308e36-3782-4066-aeb6-cede8359a1d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="e6a0313e-c1c2-4a53-a846-83dd4d00df50")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="86dea699-7d56-4303-9371-1bdee1b1bf1b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="430448f0-be4d-4589-92fc-a64aab2b281d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="96eaed80-1556-4d6f-b3cd-ba5fe495f08f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="20cef0fb-2149-4c6b-8224-e37161c29c94")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="aef355f3-59e2-4cf3-a3a8-e1c00d91776c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="1f48f3fa-6afa-486a-b696-62c87c11ff2a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="6ee4873f-f19a-41ba-a847-fac070d43788")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="3faae10b-e74a-4b07-86a3-8a00498b082d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="b8b37cc4-6bfb-4178-bf0e-742da200af42")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="7be9a5d1-791a-45da-a90e-07b01ec30aeb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="7ea159ac-9125-4d40-88c7-0223b2167b2f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="4d8a4e06-1772-4d9d-be0d-8eb7a5b5b30e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="a53fb833-1dc8-4f69-96d3-f2439d32650f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="bfa298ed-591a-4afe-b38b-f2fd51c04063")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="6f32611b-dbea-448b-8019-2a16aebc395d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="83ceb8a8-0fb8-4eb5-a0e8-77b7d1aba5c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="91c2a4b4-56c7-43eb-8390-5b8135e6f910")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="6c7a9d90-8de3-462d-9b71-bcab8a75ff4c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="4aeb8835-74ee-4b91-b5b7-355376885d0f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="f0779c4c-3ae8-4802-ac81-5df3ee83acca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="d64fbf45-d70a-45b4-89a6-3e8d5fe4eb03")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="bc036280-33b2-4673-befd-4ef357bcbf25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="0b1641a0-184e-4008-8574-480fe41846f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="6d00da9f-6287-4f2f-baa8-b0ab6dd1a34d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="2aa52f45-4050-46b8-acf0-6ccf146416db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="1e1dbca5-5462-4385-9db1-52245e872a23")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="e6d62374-463a-4132-b4d4-ab3500db5fe6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="471c76d1-ac41-4960-b370-b33de00c7664")>,
 <selenium.webdriver.remote.webelement.WebElement (session="60e6b8fc5da13aa39b3f3563e049e9ad", element="1f3b3935-4933-40fc-9004-73b72bb7f6b1")>]

In [179]:
#getting all the url using get_attribute from href.

for i in url:
    print(i.get_attribute('href'))

https://www.flipkart.com/vincent-chase-lenskart-wayfarer-sunglasses/p/itm98a773db44f91?pid=SGLG4XY5W5GXEMHY&lid=LSTSGLG4XY5W5GXEMHYQYSMQ0&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_1&otracker=search&otracker1=search&fm=organic&iid=en_Y1JMM1xpKVeHWM1itBrcEXMCBl03PkfyJCYDb7zl6Y8mLk6Ws9SuB7l3zq81fDx4TshYNFKJEzau0vfmpslNSQ%3D%3D&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7
https://www.flipkart.com/vincent-chase-lenskart-cat-eye-sunglasses/p/itmba54fc7e93beb?pid=SGLFZSPFKMA4HN5A&lid=LSTSGLFZSPFKMA4HN5A0DYA0C&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_2&otracker=search&otracker1=search&fm=organic&iid=en_Y1JMM1xpKVeHWM1itBrcEXMCBl03PkfyJCYDb7zl6Y%2FZoQ0PET3BXOpp9Q0MfWBU4QJf2FmDAzDnOltWq7%2Fk1w%3D%3D&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7
https://www.flipkart.com/fastrack-wayfarer-sunglasses/p/itm44f5aeeecaf5c?pid=SGLF79DQR8NQAT2W&lid=LSTSGLF79DQR8NQAT2WWQCQ7S&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_3&otracker=search&otracker1=search&fm=organic&iid=e6f5937f-3a91-43ce-96b6-923447d54b9f.SGLF79DQR8NQAT2W.SEARCH&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7
https://www.flipkart.com/fastrack-rectangular-sunglasses/p/itm3c6e13efc17e0?pid=SGLES2WMF6CH5GYF&lid=LSTSGLES2WMF6CH5GYFXDSXVD&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_4&otracker=search&otracker1=search&fm=organic&iid=e6f5937f-3a91-43ce-96b6-923447d54b9f.SGLES2WMF6CH5GYF.SEARCH&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7
https://www.flipkart.com/piraso-aviator-sunglasses/p/itm70504d13b7992?pid=SGLFV8YYCEA8RWAC&lid=LSTSGLFV8YYCEA8RWACIACICJ&marketplace=FLIPKART&q=Sunglasses&store=26x&spotlightTagId=BestsellerId_26x&srno=s_1_5&otracker=search&otracker1=search&fm=organic&iid=e6f5937f-3a91-43ce-96b6-923447d54b9f.SGLFV8YYCEA8RWAC.SEARCH&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7
https://www.flipkart.com/piraso-rectangular-sunglasses/p/itm3da7d3ccfb529?pid=SGLG9TZXQMY4QHWX&lid=LSTSGLG9TZXQMY4QHWXXOC34E&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_6&otracker=search&otracker1=search&fm=organic&iid=e6f5937f-3a91-43ce-96b6-923447d54b9f.SGLG9TZXQMY4QHWX.SEARCH&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7
https://www.flipkart.com/srpm-wayfarer-sunglasses/p/itmaf19ae5820c06?pid=SGLFHQPHY2GZ4HFP&lid=LSTSGLFHQPHY2GZ4HFP0AZWKY&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_7&otracker=search&otracker1=search&fm=organic&iid=e6f5937f-3a91-43ce-96b6-923447d54b9f.SGLFHQPHY2GZ4HFP.SEARCH&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7
https://www.flipkart.com/silver-kartz-clubmaster-sunglasses/p/itmf3yh8embzpkcj?pid=SGLEXSPYRGGUGAMD&lid=LSTSGLEXSPYRGGUGAMDUL3IMI&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_8&otracker=search&otracker1=search&fm=organic&iid=en_Y1JMM1xpKVeHWM1itBrcEXMCBl03PkfyJCYDb7zl6Y%2F%2FKHYX2tF5k%2BwhSf0x04RtFbodcL0zxAiAwK5NiLH1tg%3D%3D&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7
https://www.flipkart.com/sunbee-wayfarer-sunglasses/p/itm0ec82c2e7927f?pid=SGLG3FTNVJFX45YX&lid=LSTSGLG3FTNVJFX45YX2YSY8S&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_9&otracker=search&otracker1=search&fm=organic&iid=e6f5937f-3a91-43ce-96b6-923447d54b9f.SGLG3FTNVJFX45YX.SEARCH&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7
https://www.flipkart.com/elligator-round-sunglasses/p/itm3c981fc444358?pid=SGLFPHP5BVBJTCDB&lid=LSTSGLFPHP5BVBJTCDB7P4T6G&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_10&otracker=search&otracker1=search&fm=organic&iid=e6f5937f-3a91-43ce-96b6-923447d54b9f.SGLFPHP5BVBJTCDB.SEARCH&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7
https://www.flipkart.com/fastrack-aviator-sunglasses/p/itm286ccd9d7b396?pid=SGLES2WMN7PCAERZ&lid=LSTSGLES2WMN7PCAERZS8KXNO&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_11&otracker=search&otracker1=search&fm=organic&iid=e6f5937f-3a91-43ce-96b6-923447d54b9f.SGLES2WMN7PCAERZ.SEARCH&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7
https://www.flipkart.com/vincent-chase-lenskart-aviator-sunglasses/p/itm8c01eb9b0dc90?pid=SGLGFYDUDHUDH5UH&lid=LSTSGLGFYDUDHUDH5UHSNBW98&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_12&otracker=search&otracker1=search&fm=organic&iid=en_Y1JMM1xpKVeHWM1itBrcEXMCBl03PkfyJCYDb7zl6Y%2FuhMUW%2BDiUWEDGQ3o4aA1oRdliZGFaIA4TC5uJkiLuIA%3D%3D&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7
https://www.flipkart.com/new-specs-rectangular-sunglasses/p/itm545a0f9e323c3?pid=SGLG2ESNVFBGD6NQ&lid=LSTSGLG2ESNVFBGD6NQDMTXPL&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_13&otracker=search&otracker1=search&fm=organic&iid=e6f5937f-3a91-43ce-96b6-923447d54b9f.SGLG2ESNVFBGD6NQ.SEARCH&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7
https://www.flipkart.com/new-specs-oval-sunglasses/p/itm4b3fd756b165e?pid=SGLGGGJN8QXVDGVZ&lid=LSTSGLGGGJN8QXVDGVZYFRKZK&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_14&otracker=search&otracker1=search&fm=organic&iid=e6f5937f-3a91-43ce-96b6-923447d54b9f.SGLGGGJN8QXVDGVZ.SEARCH&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7
https://www.flipkart.com/shaah-collections-rectangular-sunglasses/p/itm201340b1c3e13?pid=SGLFXWGV5TGFFSPX&lid=LSTSGLFXWGV5TGFFSPXSORUG9&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_15&otracker=search&otracker1=search&fm=organic&iid=e6f5937f-3a91-43ce-96b6-923447d54b9f.SGLFXWGV5TGFFSPX.SEARCH&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7
https://www.flipkart.com/vincent-chase-lenskart-aviator-sunglasses/p/itm655a1e1723248?pid=SGLFZSP3FZVSFKUG&lid=LSTSGLFZSP3FZVSFKUGCMU2HZ&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_16&otracker=search&otracker1=search&fm=organic&iid=en_Y1JMM1xpKVeHWM1itBrcEXMCBl03PkfyJCYDb7zl6Y8MB75WrqHA3n6gHChkf%2FpJ9x1aeUmN9JXNTg3ev0poDQ%3D%3D&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7
https://www.flipkart.com/phenomenal-retro-square-sunglasses/p/itm46281b2ac57db?pid=SGLG75ZJFEH3EEUU&lid=LSTSGLG75ZJFEH3EEUUXRLEW5&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_17&otracker=search&otracker1=search&fm=organic&iid=e6f5937f-3a91-43ce-96b6-923447d54b9f.SGLG75ZJFEH3EEUU.SEARCH&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7
https://www.flipkart.com/rozzetta-craft-sports-wrap-around-sunglasses/p/itm10af50b049674?pid=SGLG9AFQF2HNHK7A&lid=LSTSGLG9AFQF2HNHK7AIIXH1I&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_18&otracker=search&otracker1=search&fm=organic&iid=e6f5937f-3a91-43ce-96b6-923447d54b9f.SGLG9AFQF2HNHK7A.SEARCH&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7
https://www.flipkart.com/nuvew-aviator-sunglasses/p/itmf9qm5wpzbfhwu?pid=SGLF9QJ4CGGWQEWT&lid=LSTSGLF9QJ4CGGWQEWTV5FFH1&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_19&otracker=search&otracker1=search&fm=organic&iid=e6f5937f-3a91-43ce-96b6-923447d54b9f.SGLF9QJ4CGGWQEWT.SEARCH&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7
https://www.flipkart.com/vincent-chase-lenskart-aviator-sunglasses/p/itm381f1b2e58f7a?pid=SGLFZSPPVSPXSPBG&lid=LSTSGLFZSPPVSPXSPBG1OQYHI&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_20&otracker=search&otracker1=search&fm=organic&iid=en_Y1JMM1xpKVeHWM1itBrcEXMCBl03PkfyJCYDb7zl6Y%2FwCxRh%2BCvW%2BnloYZQfeAx%2BCimWwJlA9xnQNAd8YZiIuA%3D%3D&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7
https://www.flipkart.com/liza-angel-spectacle-sunglasses/p/itmcde6286ce1e68?pid=SGLGACDZNYMCU2QD&lid=LSTSGLGACDZNYMCU2QDRYLPY9&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_21&otracker=search&otracker1=search&fm=organic&iid=e6f5937f-3a91-43ce-96b6-923447d54b9f.SGLGACDZNYMCU2QD.SEARCH&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7
https://www.flipkart.com/piraso-aviator-sunglasses/p/itm405062704fcc0?pid=SGLFTYY5NWNKSC64&lid=LSTSGLFTYY5NWNKSC64YLGIVW&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_22&otracker=search&otracker1=search&fm=organic&iid=e6f5937f-3a91-43ce-96b6-923447d54b9f.SGLFTYY5NWNKSC64.SEARCH&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7
https://www.flipkart.com/rozzetta-craft-retro-square-sunglasses/p/itmf248ba5b3a895?pid=SGLFZFZNAQNZHYB7&lid=LSTSGLFZFZNAQNZHYB7GZ3YO5&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_23&otracker=search&otracker1=search&fm=organic&iid=e6f5937f-3a91-43ce-96b6-923447d54b9f.SGLFZFZNAQNZHYB7.SEARCH&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7
https://www.flipkart.com/john-jacobs-round-sunglasses/p/itm1607a26e33635?pid=SGLGCT3PKMWB8XT2&lid=LSTSGLGCT3PKMWB8XT2WIVMOW&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_24&otracker=search&otracker1=search&fm=organic&iid=en_Y1JMM1xpKVeHWM1itBrcEXMCBl03PkfyJCYDb7zl6Y81Nsg3BOTJ4eIuzs09mFTeRBIF9Ot%2FpPnIgvLRv2pzOQ%3D%3D&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7
https://www.flipkart.com/dannilo-spectacle-sunglasses/p/itmfgcxnz9adzktz?pid=SGLFGCWH4WC9QHJ5&lid=LSTSGLFGCWH4WC9QHJ5P2RJM0&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_25&otracker=search&otracker1=search&fm=organic&iid=e6f5937f-3a91-43ce-96b6-923447d54b9f.SGLFGCWH4WC9QHJ5.SEARCH&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7
https://www.flipkart.com/mi-aviator-sunglasses/p/itmf969f9d8734ec?pid=SGLFKFN2ZZPFYWFH&lid=LSTSGLFKFN2ZZPFYWFHUC2L2X&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_26&otracker=search&otracker1=search&fm=organic&iid=e6f5937f-3a91-43ce-96b6-923447d54b9f.SGLFKFN2ZZPFYWFH.SEARCH&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7
https://www.flipkart.com/piraso-aviator-sunglasses/p/itma9ed6fe9b3b86?pid=SGLFZJQUNAHYUCAS&lid=LSTSGLFZJQUNAHYUCASKDXKTE&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_27&otracker=search&otracker1=search&fm=organic&iid=e6f5937f-3a91-43ce-96b6-923447d54b9f.SGLFZJQUNAHYUCAS.SEARCH&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7
https://www.flipkart.com/vincent-chase-lenskart-round-sunglasses/p/itm4c0727e3d0e1a?pid=SGLFU52BYPPHF5ZQ&lid=LSTSGLFU52BYPPHF5ZQTNPU47&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_28&otracker=search&otracker1=search&fm=organic&iid=en_Y1JMM1xpKVeHWM1itBrcEXMCBl03PkfyJCYDb7zl6Y9tzag%2B45EX4onVk2bwIZ1LtIPPQJiCbgJsSmAj4OPatg%3D%3D&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7
https://www.flipkart.com/lee-topper-rectangular-sunglasses/p/itmdc0e4ca417b38?pid=SGLG9Y9ZBWUSGWAC&lid=LSTSGLG9Y9ZBWUSGWACKEXS2L&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_29&otracker=search&otracker1=search&fm=organic&iid=e6f5937f-3a91-43ce-96b6-923447d54b9f.SGLG9Y9ZBWUSGWAC.SEARCH&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7
https://www.flipkart.com/fastrack-shield-sunglasses/p/itme31b29c245e9d?pid=SGLF79DPQHKPREWV&lid=LSTSGLF79DPQHKPREWVH4OGVF&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_30&otracker=search&otracker1=search&fm=organic&iid=e6f5937f-3a91-43ce-96b6-923447d54b9f.SGLF79DPQHKPREWV.SEARCH&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7
https://www.flipkart.com/phenomenal-retro-square-sunglasses/p/itm1ead9ddbbb3d8?pid=SGLFUBFWNBFEAVD3&lid=LSTSGLFUBFWNBFEAVD31E0HIC&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_31&otracker=search&otracker1=search&fm=organic&iid=e6f5937f-3a91-43ce-96b6-923447d54b9f.SGLFUBFWNBFEAVD3.SEARCH&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7
https://www.flipkart.com/vincent-chase-lenskart-cat-eye-sunglasses/p/itmd3a4b1e09534f?pid=SGLG4XY5EVEWAVZZ&lid=LSTSGLG4XY5EVEWAVZZ2J0QWQ&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_32&otracker=search&otracker1=search&fm=organic&iid=en_Y1JMM1xpKVeHWM1itBrcEXMCBl03PkfyJCYDb7zl6Y%2Fz5FTPb2n1A%2BcQnRMj51I%2BUiGK4rDDmW0eqZwKPSfXdg%3D%3D&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7
https://www.flipkart.com/sunbee-retro-square-sunglasses/p/itmb89a15e6ca52a?pid=SGLG3HZUQWBQTKMZ&lid=LSTSGLG3HZUQWBQTKMZIWGU63&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_33&otracker=search&otracker1=search&fm=organic&iid=e6f5937f-3a91-43ce-96b6-923447d54b9f.SGLG3HZUQWBQTKMZ.SEARCH&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7
https://www.flipkart.com/fastrack-aviator-sunglasses/p/itm047bd71f167bb?pid=SGLFKYGHKP4BXEMH&lid=LSTSGLFKYGHKP4BXEMHPJOINL&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_34&otracker=search&otracker1=search&fm=organic&iid=e6f5937f-3a91-43ce-96b6-923447d54b9f.SGLFKYGHKP4BXEMH.SEARCH&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7
https://www.flipkart.com/vincent-chase-lenskart-rectangular-sunglasses/p/itme9de4d491f912?pid=SGLFU52FHZDHNQVP&lid=LSTSGLFU52FHZDHNQVPIWDCLI&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_35&otracker=search&otracker1=search&fm=organic&iid=e6f5937f-3a91-43ce-96b6-923447d54b9f.SGLFU52FHZDHNQVP.SEARCH&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7
https://www.flipkart.com/vincent-chase-lenskart-aviator-sunglasses/p/itmded92fa116146?pid=SGLFZSPGPUGJTFPN&lid=LSTSGLFZSPGPUGJTFPNUVVXPW&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_36&otracker=search&otracker1=search&fm=organic&iid=en_Y1JMM1xpKVeHWM1itBrcEXMCBl03PkfyJCYDb7zl6Y9ciIc%2F9qokSGszTNhSifeD7vYZnSP05z921oPzPehRuA%3D%3D&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7
https://www.flipkart.com/izaan-mart-rectangular-sunglasses/p/itm2a7a35ce86a90?pid=SGLG37NJWYPSYSQZ&lid=LSTSGLG37NJWYPSYSQZA9GZRA&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_37&otracker=search&otracker1=search&fm=organic&iid=e6f5937f-3a91-43ce-96b6-923447d54b9f.SGLG37NJWYPSYSQZ.SEARCH&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7
https://www.flipkart.com/kingsunglasses-aviator-sunglasses/p/itm175d90885d1b1?pid=SGLG3HS74KZWM7XD&lid=LSTSGLG3HS74KZWM7XDCSQSRQ&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_38&otracker=search&otracker1=search&fm=organic&iid=e6f5937f-3a91-43ce-96b6-923447d54b9f.SGLG3HS74KZWM7XD.SEARCH&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7
https://www.flipkart.com/royal-son-butterfly-sunglasses/p/itmb1eefa335fedf?pid=SGLG3PH39FYFPPHW&lid=LSTSGLG3PH39FYFPPHWGHNIP8&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_39&otracker=search&otracker1=search&fm=organic&iid=e6f5937f-3a91-43ce-96b6-923447d54b9f.SGLG3PH39FYFPPHW.SEARCH&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7
https://www.flipkart.com/vincent-chase-lenskart-aviator-sunglasses/p/itmc2f5fbd024681?pid=SGLFZSPDEK7DSBCV&lid=LSTSGLFZSPDEK7DSBCVVFCIFR&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_40&otracker=search&otracker1=search&fm=organic&iid=en_Y1JMM1xpKVeHWM1itBrcEXMCBl03PkfyJCYDb7zl6Y9jz4npe32hl37yK%2FZlm%2FODMpbvDjhViLiYfwIE%2B0ubMg%3D%3D&ppt=hp&ppn=homepage&ssid=9j2wtaug2o0000001660859955755&qH=0ff7a11a5902c9f7

In [180]:
brand=[]

In [181]:
#extracting data from 3 pages at one time using this code 
start=0
end=3
for i in range(start,end):
    b_tag=dr.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')[0:100]
    for i in b_tag:
        bran=i.text
        brand.append(bran)
    next_button=dr.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [182]:
price=[]

In [183]:
#scraping data from the next pages also using this code

start=0
end=3
for i in range(start,end):
    p_tag=dr.find_elements(By.XPATH,'//div[@class="_30jeq3"]')[0:100]
    for i in p_tag:
        pri=i.text
        price.append(pri)
    next_button=dr.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [184]:
description=[]

In [185]:
#scraping data from the next pages also using this code

start=0
end=3
for i in range(start,end):
    d_tag=dr.find_elements(By.XPATH,'//a[@class="IRpwTa"]')[0:100]
    for i in d_tag:
        de=i.text
        description.append(de)
    next_button=dr.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [186]:
discount=[]

In [187]:
#scraping data from the next pages also using this code

start=0
end=3
for i in range(start,end):
    dis_tag=dr.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')[0:100]
    for i in dis_tag:
        di=i.text
        discount.append(di)
    next_button=dr.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [188]:
#total data extracted from 3 pages is of 120 products each for every list
print(len(brand),len(price),len(discount),len(description))

120 120 120 120

In [166]:
#showing data for first 100 products in the table

tb=pd.DataFrame({'BRAND':brand,'PRICE':price,'DISCOUNT':discount,'DESCRIPTION':description})
tb[0:100]

,BRAND,PRICE,DISCOUNT,DESCRIPTION
0,Fastrack,₹721,20% off,UV Protection Wayfarer Sunglasses (Free Size)
1,Fastrack,₹639,20% off,UV Protection Rectangular Sunglasses (Free Size)
2,PIRASO,₹399,85% off,UV Protection Aviator Sunglasses (54)
3,PIRASO,₹710,90% off,UV Protection Rectangular Sunglasses (52)
4,SUNBEE,₹379,78% off,"UV Protection, Polarized Wayfarer Sunglasses (..."
...,...,...,...,...
95,ROZZETTA CRAFT,₹249,77% off,UV Protection Retro Square Sunglasses (Free Size)
96,LIZA ANGEL,₹268,80% off,"Riding Glasses, Night Vision Spectacle Sunglas..."
97,Dannilo,₹221,78% off,Others Spectacle Sunglasses (Free Size)
98,PIRASO,₹214,86% off,UV Protection Aviator Sunglasses (54)
99,Mi,₹283,33% off,Polarized Aviator Sunglasses (Free Size)

ANSWER-5

In [232]:
#importing all the important libraries.

import selenium
import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [255]:
#calling webdriver chrome in driver variable.
driver=webdriver.Chrome(r'chromedriver.exe')

In [256]:
#getting all the data of site on the driver or we can say opening the link.

driver.get('https://www.flipkart.com/')

In [257]:
#sending iphone text in the search field using code.

product=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
product.send_keys('iphone 11')

In [258]:
#clicking on the search button using code.

search=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [259]:
iphone=driver.find_element(By.CLASS_NAME,"_4rR01T")
iphone.click()

In [265]:
#extracting rating using xpath

rat=[]
rat_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rat_tag:
    rat.append(i.text)

In [269]:
#extracting review summary of the product.

review_summary=[]
rev_tag=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in rev_tag:
    review_summary.append(i.text)

In [267]:
#extracting full review .

full_review=[]
fullr_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[3]/div/div/div/div[2]/div/div/div')
for i in fullr_tag:
    full_review.append(i.text)

ANSWER-6

In [153]:
#importing all the important libraries.

import selenium
import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [154]:
#calling webdriver chrome in driver variable.
driver=webdriver.Chrome(r'chromedriver.exe')

In [155]:
#getting all the data of site on the driver or we can say opening the link.

driver.get(' https://www.flipkart.com/')

In [156]:
#sending sneakers in the search field using code.

product=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
product.send_keys('Sneakers')

In [158]:
#clicking on the search button using code.

search=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [159]:
#scraping brand name using xpath.

brand=[]
b_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in b_tag:
    bran=i.text
    brand.append(bran)

In [160]:
#scraping price as well as the dicount because it was ticked in the screen shot mentioned in the question. 

price=[]
p_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in p_tag:
    pri=i.text
    price.append(pri)

discount=[]
d_tag=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in d_tag:
    dis=i.text
    discount.append(dis)

In [161]:
#scraping the product description and there where some products on the first page whose description was in another xpath so 
#extracting those too using a different xpath and storing in same list.

pro_descr=[]
de_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in de_tag:
    des=i.text
    pro_descr.append(des)

left=driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]')
for i in left:
    pro_descr.append(i.text)

In [163]:
#checking wether the data has been extracted or not by creating datafram from the extracted data.

fh=pd.DataFrame({'brand':brand,'price':price,'dicount':discount,'description':pro_descr})
fh

,brand,price,dicount,description
0,BRUTON,₹636,74% off,2 Combo Sneaker Shoes Sneakers For Men
1,ADIDAS,"₹1,305",67% off,Easy Vulc 2.0 Sneakers For Men
2,aadi,₹374,81% off,Mesh | Ultralightweight | Comfortable | Breath...
3,Deals4you,₹373,62% off,Sneakers For Women
4,PUMA,"₹1,542",55% off,Puma Smash Wns v2 L Sneakers For Women
5,Chevit,₹577,69% off,Super Stylish & Trendy Combo Pack of 02 Pairs ...
6,Labbin,₹499,50% off,Sneakers For Men
7,RapidBox,₹630,36% off,Sneakers For Men
8,Deals4you,₹381,74% off,Cilia Sneakers For Women
9,PUMA,"₹2,400",49% off,supr Sneakers For Men
10,Layasa,₹249,75% off,Sneakers For Women
11,Layasa,₹399,80% off,Sneakers For Men
12,Layasa,₹399,60% off,Glory Sneakers For Men
13,PUMA,"₹1,747",41% off,Casual Sneakers Black Outdoor Shoes For Boys A...
14,Robbie jones,₹509,49% off,Sneakers For Men
15,aadi,₹380,61% off,Sneakers For Men
16,Magnolia,₹374,62% off,Sneakers For Men
17,Kzaara,₹259,74% off,Caracal Sneakers For Men
18,PUMA,"₹2,618",47% off,Kwik FIT casual sneaker shoes and partywear sh...
19,JACK & JONES,"₹1,249",50% off,Sneakers For Men
20,KWIK FIT,₹397,80% off,Stylish Walking Partywear Sneakers Casual Shoe...
21,Layasa,₹399,60% off,Sneakers For Women
22,Shozie,₹559,44% off,Unique & Perfect Collection Combo Pack of 02 S...
23,RapidBox,₹620,37% off,Sneakers For Men
24,URBANBOX,₹197,80% off,Modern Trendy Sneakers boot Sneakers For Men
25,Layasa,₹498,50% off,Sneakers For Men
26,Chevit,₹459,69% off,Sneakers For Men
27,U.S. POLO ASSN.,"₹1,804",54% off,GAIMAN 2.O Sneakers For Men
28,Xtoon,₹424,71% off,supr Sneakers For Men
29,Layasa,₹351,64% off,Sneakers For Men
30,Magnolia,₹354,64% off,Sneakers Sneakers For Men
31,U.S. POLO ASSN.,"₹1,619",46% off,Sneakers For Women
32,Layasa,₹249,75% off,White Sneaker For Men's/Boy's Sneakers For Men
33,Magnolia,₹399,60% off,Sneakers For Women
34,SCATCHITE,₹351,64% off,Rebound JOY Sneakers For Men
35,Layasa,₹399,80% off,Sneakers For Men
36,Shoes Bank,₹297,70% off,Sneakers For Men
37,Deals4you,₹479,68% off,Sneakers For Men
38,PUMA,"₹3,054",44% off,Sneakers For Men
39,Roadster,"₹1,104",70% off,Sneakers Sneakers For Men

In [164]:
#scraping the url from the site page.

url=driver.find_elements(By.XPATH,'//a[@class="_2UzuFa"]')
url

[<selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="fe2a817e-1343-4825-8e0c-0e9c2c612208")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="60bb9f29-8b3f-445e-9079-9412d5f07f9b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="af937535-bbf0-4e15-a73c-6a0d4d33e297")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="67a2eba9-1327-4765-b021-77513e9ab31d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="f9ca54dd-72e2-4dc2-82ad-699eb8f6fe4a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="ecdbc74d-597c-4e59-aacd-89bbe0f9ddc6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="535e04f2-7910-433e-82ce-5470ca7084ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="da12fd2d-e511-4219-a42a-a9d62b748493")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="72a87dd7-ce3a-4ae4-b26a-ee0a36c1be78")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="baac34c8-3319-4efe-b298-126fedfd3a60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="f0cd8436-9327-448f-909d-078009c07e8b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="cc66ae07-7c9f-4eed-ae76-b86817ea02e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="2690c93b-06de-4c3a-ac76-154cda6d1386")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="ddaabc35-4434-4a3a-bb1c-daf08f82798c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="64826a8e-b681-4ac8-87df-b639c8f01c59")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="e1c4ba8c-f309-4e31-952f-7272e1458230")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="5ad905e6-1682-43a0-b58b-c09905120315")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="74e1fbf5-c61e-47fa-84c7-1fc0295edfc8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="cc6ad703-686d-4dd0-aed0-461468e40413")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="5ec3ea15-486f-4976-b783-13de87badd7b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="86b5be02-a30b-4007-8990-0b07477f470d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="32b74bd0-0892-46c0-af23-92a209c6a41b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="c59fee53-5a7c-40d3-b85e-1ce68bdd96c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="f5bd5b1c-8812-42cf-aa61-fe7990488e9b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="30822910-efa6-47fe-901b-d6c81e36e68c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="9b94567c-db82-449d-8c34-b2293107db3e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="7b031882-b8fc-41a9-9d96-da7caf14923b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="55a7838a-0fed-46ce-b155-e91bca45caf0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="ef3c878f-7a95-449b-a8d5-c20088b983bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="edc6523e-84f6-4f29-810c-bbc36ed0d314")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="3a8525c4-3d99-4f75-ab81-8b504b0afb21")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="cf9804ed-2ec3-45ff-8711-f82efd778e19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="5cc109d0-c1b4-4472-81ca-faf08ec13fe6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="3101e6b4-d844-4407-8b34-849a023ad8ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="62ee25af-02ba-49b6-bc77-17424ac61da4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="4d7b337e-6106-453a-8831-d6b350fb3cd7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="ebe1001d-a5fa-427a-9f19-f29beb1878f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="8cbd6441-02a8-4c84-a803-131e49eefd1c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="b05e6026-db05-4945-907c-ed04e2c7c525")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e16bf5a45f665aa516d66241a5a4bbd5", element="46d629bc-c7d2-4a58-9527-1a0b40e76ed7")>]

In [165]:
#getting all the url using get_attribute from href.

for i in url:
    print(i.get_attribute('href'))

https://www.flipkart.com/bruton-2-combo-sneaker-shoes-sneakers-men/p/itmc7635b46cf505?pid=SHOGFHSHBBAFSUDJ&lid=LSTSHOGFHSHBBAFSUDJNZQAU6&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_1&otracker=search&otracker1=search&fm=organic&iid=en_R8iES%2FGp6mlTGugtwX3%2BTEpgnxb5RlZ9qC7QuiCrBTFqYz%2F1VNtemi3TcgzbnkIQ4tb%2BZCMy%2BFPvUBCB2S%2FrrA%3D%3D&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089
https://www.flipkart.com/adidas-easy-vulc-2-0-sneakers-men/p/itmfhwp9f5bkbh4g?pid=SHOFU43P7VBDBVHN&lid=LSTSHOFU43P7VBDBVHNMZAEJR&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_2&otracker=search&otracker1=search&fm=organic&iid=en_R8iES%2FGp6mlTGugtwX3%2BTEpgnxb5RlZ9qC7QuiCrBTF537kslp8OfAt3ZFjvjLAR%2Ba%2BBCLvMR65fRgCScT24ZQ%3D%3D&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089
https://www.flipkart.com/aadi-mesh-ultralightweight-comfortable-breathable-walking-outdoor-daily-use-sneakers-men/p/itma442bf9226209?pid=SHOGDZZESTTE3ZUY&lid=LSTSHOGDZZESTTE3ZUY3QPNXC&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_3&otracker=search&otracker1=search&fm=organic&iid=3b908c3f-80c8-4cf5-a6b8-57ee08f14b0d.SHOGDZZESTTE3ZUY.SEARCH&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089
https://www.flipkart.com/deals4you-sneakers-women/p/itmd1241f2f24eb8?pid=SHOG7PJ6CBYM4AVD&lid=LSTSHOG7PJ6CBYM4AVDGU3MZK&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_4&otracker=search&otracker1=search&fm=organic&iid=3b908c3f-80c8-4cf5-a6b8-57ee08f14b0d.SHOG7PJ6CBYM4AVD.SEARCH&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089
https://www.flipkart.com/puma-smash-wns-v2-l-sneakers-women/p/itmf3xthgykjgke4?pid=SHOF243X4X6YGNJA&lid=LSTSHOF243X4X6YGNJA74GIV5&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_5&otracker=search&otracker1=search&fm=organic&iid=3b908c3f-80c8-4cf5-a6b8-57ee08f14b0d.SHOF243X4X6YGNJA.SEARCH&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089
https://www.flipkart.com/chevit-super-stylish-trendy-combo-pack-02-pairs-sneakers-outdoor-sports-running-rock-climbing-gym-shoes-men/p/itmfce3a6f2183d4?pid=SHOGFVTH5Y9ESGVP&lid=LSTSHOGFVTH5Y9ESGVP5DV5S7&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_6&otracker=search&otracker1=search&fm=organic&iid=3b908c3f-80c8-4cf5-a6b8-57ee08f14b0d.SHOGFVTH5Y9ESGVP.SEARCH&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089
https://www.flipkart.com/labbin-sneakers-men/p/itm22551963c0809?pid=SHOG497GVHMHTKMH&lid=LSTSHOG497GVHMHTKMHOV3U7K&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_7&otracker=search&otracker1=search&fm=organic&iid=3b908c3f-80c8-4cf5-a6b8-57ee08f14b0d.SHOG497GVHMHTKMH.SEARCH&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089
https://www.flipkart.com/rapidbox-sneakers-men/p/itm00df7333b67b8?pid=SHOG72GEGG6G5HBH&lid=LSTSHOG72GEGG6G5HBHZFGLZQ&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_8&otracker=search&otracker1=search&fm=organic&iid=en_R8iES%2FGp6mlTGugtwX3%2BTEpgnxb5RlZ9qC7QuiCrBTEyrSXXAKpT6k8e9iRG7ePaZzYp%2FfAmWI5aHWcHTrBmdQ%3D%3D&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089
https://www.flipkart.com/deals4you-sneakers-men/p/itm662bc62a465d9?pid=SHOGBNQHMHRZYPV9&lid=LSTSHOGBNQHMHRZYPV9E0CZPQ&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_9&otracker=search&otracker1=search&fm=organic&iid=3b908c3f-80c8-4cf5-a6b8-57ee08f14b0d.SHOGBNQHMHRZYPV9.SEARCH&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089
https://www.flipkart.com/puma-cilia-sneakers-women/p/itmfd87rdvychcue?pid=SHOFD86WNVZBVAZK&lid=LSTSHOFD86WNVZBVAZKRHBU7N&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_10&otracker=search&otracker1=search&fm=organic&iid=3b908c3f-80c8-4cf5-a6b8-57ee08f14b0d.SHOFD86WNVZBVAZK.SEARCH&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089
https://www.flipkart.com/layasa-supr-sneakers-men/p/itmc066ea8498886?pid=SHOGFD62FRHDYTQP&lid=LSTSHOGFD62FRHDYTQPBWLZJI&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_11&otracker=search&otracker1=search&fm=organic&iid=3b908c3f-80c8-4cf5-a6b8-57ee08f14b0d.SHOGFD62FRHDYTQP.SEARCH&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089
https://www.flipkart.com/layasa-sneakers-women/p/itmdc683fa7294f7?pid=SHOGGZFDYYBHVH6D&lid=LSTSHOGGZFDYYBHVH6DX98HTS&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_12&otracker=search&otracker1=search&fm=organic&iid=en_R8iES%2FGp6mlTGugtwX3%2BTEpgnxb5RlZ9qC7QuiCrBTHRaoFG02OEvctspVbYctcQXURw0zbiX%2F2scL7xY1yrbw%3D%3D&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089
https://www.flipkart.com/layasa-sneakers-men/p/itm4bfb14824c769?pid=SHOGBHNFHY8ZDWQP&lid=LSTSHOGBHNFHY8ZDWQP5K84MS&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_13&otracker=search&otracker1=search&fm=organic&iid=3b908c3f-80c8-4cf5-a6b8-57ee08f14b0d.SHOGBHNFHY8ZDWQP.SEARCH&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089
https://www.flipkart.com/puma-glory-sneakers-men/p/itmf0fc7d5dce4b4?pid=SHOG8VF7GRUEAMKE&lid=LSTSHOG8VF7GRUEAMKEV02NJ2&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_14&otracker=search&otracker1=search&fm=organic&iid=3b908c3f-80c8-4cf5-a6b8-57ee08f14b0d.SHOG8VF7GRUEAMKE.SEARCH&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089
https://www.flipkart.com/robbie-jones-casual-sneakers-black-outdoor-shoes-boys-men/p/itm3b84b3512da8e?pid=SHOGGHBFZRPHKZGT&lid=LSTSHOGGHBFZRPHKZGT8PYFDG&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_15&otracker=search&otracker1=search&fm=organic&iid=3b908c3f-80c8-4cf5-a6b8-57ee08f14b0d.SHOGGHBFZRPHKZGT.SEARCH&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089
https://www.flipkart.com/aadi-sneakers-men/p/itm8ebba9b34ffb6?pid=SHOGAXTKZYWJUDZA&lid=LSTSHOGAXTKZYWJUDZAHSK0S0&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_16&otracker=search&otracker1=search&fm=organic&iid=en_R8iES%2FGp6mlTGugtwX3%2BTEpgnxb5RlZ9qC7QuiCrBTFtr1AgJg0EXHavHAcxsR2jHK7r4KSOD0eColMKYv9M0g%3D%3D&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089
https://www.flipkart.com/magnolia-sneakers-men/p/itm5160316c9ee0f?pid=SHOG69HDHGHVUDKD&lid=LSTSHOG69HDHGHVUDKDKQRVJN&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_17&otracker=search&otracker1=search&fm=organic&iid=3b908c3f-80c8-4cf5-a6b8-57ee08f14b0d.SHOG69HDHGHVUDKD.SEARCH&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089
https://www.flipkart.com/kzaara-sneakers-men/p/itm540d765c42d7d?pid=SHOG8YYWH4M2BRNR&lid=LSTSHOG8YYWH4M2BRNRGYQ959&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_18&otracker=search&otracker1=search&fm=organic&iid=3b908c3f-80c8-4cf5-a6b8-57ee08f14b0d.SHOG8YYWH4M2BRNR.SEARCH&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089
https://www.flipkart.com/puma-caracal-sneakers-men/p/itm1a22901aacba9?pid=SHOG24R9UHWCZGPK&lid=LSTSHOG24R9UHWCZGPKY28ZVS&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_19&otracker=search&otracker1=search&fm=organic&iid=3b908c3f-80c8-4cf5-a6b8-57ee08f14b0d.SHOG24R9UHWCZGPK.SEARCH&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089
https://www.flipkart.com/jack-jones-sneakers-men/p/itmf3691e9d7dbf4?pid=SHOGAGZ9JYGQ4TYS&lid=LSTSHOGAGZ9JYGQ4TYSOY87LU&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_20&otracker=search&otracker1=search&fm=organic&iid=en_R8iES%2FGp6mlTGugtwX3%2BTEpgnxb5RlZ9qC7QuiCrBTFwvps4B8EV6KP60XPUnsJdfU6QeO9tkc70P74iJrFKWQ%3D%3D&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089
https://www.flipkart.com/kwik-fit-casual-sneaker-shoes-partywear-casuals-men-sneakers/p/itm0103df1c6c4cf?pid=SHOGAUYVGZ56H5MS&lid=LSTSHOGAUYVGZ56H5MSGLOT4E&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_21&otracker=search&otracker1=search&fm=organic&iid=3b908c3f-80c8-4cf5-a6b8-57ee08f14b0d.SHOGAUYVGZ56H5MS.SEARCH&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089
https://www.flipkart.com/layasa-sneakers-men/p/itmad75e88ddaa33?pid=SHOGBY74HUDGUTUY&lid=LSTSHOGBY74HUDGUTUY5BHU8Y&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_22&otracker=search&otracker1=search&fm=organic&iid=3b908c3f-80c8-4cf5-a6b8-57ee08f14b0d.SHOGBY74HUDGUTUY.SEARCH&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089
https://www.flipkart.com/shozie-stylish-walking-partywear-sneakers-casual-shoes-women/p/itma93ebdf084596?pid=SHOGEGDBGD7HGZYS&lid=LSTSHOGEGDBGD7HGZYSAZZOKO&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_23&otracker=search&otracker1=search&fm=organic&iid=3b908c3f-80c8-4cf5-a6b8-57ee08f14b0d.SHOGEGDBGD7HGZYS.SEARCH&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089
https://www.flipkart.com/rapidbox-sneakers-men/p/itmadd56ae770504?pid=SHOG6WUK6CHBTR4E&lid=LSTSHOG6WUK6CHBTR4E56CKQV&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_24&otracker=search&otracker1=search&fm=organic&iid=en_R8iES%2FGp6mlTGugtwX3%2BTEpgnxb5RlZ9qC7QuiCrBTGA91MPq5avByPu5CcIvfaWjePeUZwH66iNDs3qPI1Jaw%3D%3D&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089
https://www.flipkart.com/urbanbox-sneakers-men/p/itm93c2f351df0f6?pid=SHOFXPSFHWFVPCPF&lid=LSTSHOFXPSFHWFVPCPF0AHVV1&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_25&otracker=search&otracker1=search&fm=organic&iid=3b908c3f-80c8-4cf5-a6b8-57ee08f14b0d.SHOFXPSFHWFVPCPF.SEARCH&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089
https://www.flipkart.com/layasa-sneakers-women/p/itm8976551a1ff53?pid=SHOGGHBNQY5TG6HT&lid=LSTSHOGGHBNQY5TG6HTD1KEJT&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_26&otracker=search&otracker1=search&fm=organic&iid=3b908c3f-80c8-4cf5-a6b8-57ee08f14b0d.SHOGGHBNQY5TG6HT.SEARCH&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089
https://www.flipkart.com/chevit-unique-perfect-collection-combo-pack-02-shoes-men-casual-sneakers-outdoor-walking-sport-running-gym-cycling-trekking-rock-climbing/p/itmff4e5480ba998?pid=SHOGYX9SX8ZHGMYH&lid=LSTSHOGYX9SX8ZHGMYHMNOSZZ&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_27&otracker=search&otracker1=search&fm=organic&iid=3b908c3f-80c8-4cf5-a6b8-57ee08f14b0d.SHOGYX9SX8ZHGMYH.SEARCH&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089
https://www.flipkart.com/u-s-polo-assn-sneakers-men/p/itm1fa3d3c3d237d?pid=SHOFQDE4ZFTZUG6X&lid=LSTSHOFQDE4ZFTZUG6XCMNLGN&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_28&otracker=search&otracker1=search&fm=organic&iid=en_R8iES%2FGp6mlTGugtwX3%2BTEpgnxb5RlZ9qC7QuiCrBTH7IjVkt138qtit%2B3xBCUM5e6t8CWvZPkX023CwkZedxg%3D%3D&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089
https://www.flipkart.com/xtoon-modern-trendy-sneakers-boot-men/p/itmf41c414e80b5c?pid=SHOGEYNYKBHGMDH6&lid=LSTSHOGEYNYKBHGMDH6PGFRKV&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_29&otracker=search&otracker1=search&fm=organic&iid=3b908c3f-80c8-4cf5-a6b8-57ee08f14b0d.SHOGEYNYKBHGMDH6.SEARCH&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089
https://www.flipkart.com/layasa-sneakers-men/p/itmd4f14e57cdd4a?pid=SHOGBY69V3G8W89X&lid=LSTSHOGBY69V3G8W89XC32TNJ&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_30&otracker=search&otracker1=search&fm=organic&iid=3b908c3f-80c8-4cf5-a6b8-57ee08f14b0d.SHOGBY69V3G8W89X.SEARCH&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089
https://www.flipkart.com/magnolia-sneakers-men/p/itm084a85e2c38f6?pid=SHOG9MPQTHHHFKWF&lid=LSTSHOG9MPQTHHHFKWFK1RB7D&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_31&otracker=search&otracker1=search&fm=organic&iid=3b908c3f-80c8-4cf5-a6b8-57ee08f14b0d.SHOG9MPQTHHHFKWF.SEARCH&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089
https://www.flipkart.com/u-s-polo-assn-gaiman-2-o-sneakers-men/p/itm182e2363cd75d?pid=SHOG4Q5HGVEPCEJM&lid=LSTSHOG4Q5HGVEPCEJMMQY9AM&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_32&otracker=search&otracker1=search&fm=organic&iid=en_R8iES%2FGp6mlTGugtwX3%2BTEpgnxb5RlZ9qC7QuiCrBTE%2F28UkUoc6jfjsE9o0KwS%2F5OWkZPW3uvBWGhM5PEcWNw%3D%3D&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089
https://www.flipkart.com/layasa-supr-sneakers-men/p/itm656d9eabd539b?pid=SHOGYDD8QBGGWGHG&lid=LSTSHOGYDD8QBGGWGHGQBJRMU&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_33&otracker=search&otracker1=search&fm=organic&iid=3b908c3f-80c8-4cf5-a6b8-57ee08f14b0d.SHOGYDD8QBGGWGHG.SEARCH&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089
https://www.flipkart.com/magnolia-sneakers-men/p/itmb42a681797f2d?pid=SHOGYAAFUZKMR64D&lid=LSTSHOGYAAFUZKMR64DI8THYW&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_34&otracker=search&otracker1=search&fm=organic&iid=3b908c3f-80c8-4cf5-a6b8-57ee08f14b0d.SHOGYAAFUZKMR64D.SEARCH&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089
https://www.flipkart.com/scatchite-sneakers-men/p/itmc13680b1d9604?pid=SHOFUDSUHXHE67UG&lid=LSTSHOFUDSUHXHE67UGEOY0IV&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_35&otracker=search&otracker1=search&fm=organic&iid=3b908c3f-80c8-4cf5-a6b8-57ee08f14b0d.SHOFUDSUHXHE67UG.SEARCH&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089
https://www.flipkart.com/layasa-sneakers-women/p/itmbe780afaf46ec?pid=SHOGGZFBYWCGJZJS&lid=LSTSHOGGZFBYWCGJZJSQ7ECHS&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_36&otracker=search&otracker1=search&fm=organic&iid=en_R8iES%2FGp6mlTGugtwX3%2BTEpgnxb5RlZ9qC7QuiCrBTEcTXx8iMU7pk9XM3WXX8nRz1PF3a8PwGuaHao2XtEg2g%3D%3D&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089
https://www.flipkart.com/shoes-bank-white-sneaker-men-s-boy-s-sneakers-men/p/itmf9p2zdypz2jyt?pid=SHOF9Z76DWFGAFWY&lid=LSTSHOF9Z76DWFGAFWYSDVYDU&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_37&otracker=search&otracker1=search&fm=organic&iid=3b908c3f-80c8-4cf5-a6b8-57ee08f14b0d.SHOF9Z76DWFGAFWY.SEARCH&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089
https://www.flipkart.com/deals4you-sneakers-women/p/itmcd93c1e3b2a4e?pid=SHOGBCY38QCMM3YH&lid=LSTSHOGBCY38QCMM3YH2J2XEV&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_38&otracker=search&otracker1=search&fm=organic&iid=3b908c3f-80c8-4cf5-a6b8-57ee08f14b0d.SHOGBCY38QCMM3YH.SEARCH&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089
https://www.flipkart.com/puma-rebound-joy-sneakers-men/p/itm616f0cfb0fc23?pid=SHOFZFG5FH9U3C88&lid=LSTSHOFZFG5FH9U3C888G7GKR&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_39&otracker=search&otracker1=search&fm=organic&iid=3b908c3f-80c8-4cf5-a6b8-57ee08f14b0d.SHOFZFG5FH9U3C88.SEARCH&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089
https://www.flipkart.com/roadster-sneakers-men/p/itmd470b0c4f0632?pid=SHOG8H2JZDJXUUEU&lid=LSTSHOG8H2JZDJXUUEU86HK3Q&marketplace=FLIPKART&q=Sneakers&store=osp&srno=s_1_40&otracker=search&otracker1=search&fm=organic&iid=en_R8iES%2FGp6mlTGugtwX3%2BTEpgnxb5RlZ9qC7QuiCrBTFA8CPMpasaDlcm%2BBph1TKi3T6Qa84%2BYOOhBL7JsCii6w%3D%3D&ppt=hp&ppn=homepage&ssid=zb9cipssn40000001660915046072&qH=ea24260ef5764089

In [177]:
brand=[]
#extracting data from 3 pages at one time using this code 
start=0
end=3
for i in range(start,end):
    b_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')[:100]
    for i in b_tag:
        bran=i.text
        brand.append(bran)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [178]:
price=[]

In [179]:
#scraping data from the next pages also using this code

start=0
end=3
for i in range(start,end):
    p_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')[:100]
    for i in p_tag:
        pri=i.text
        price.append(pri)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [180]:
discount=[]

In [181]:
#scraping data from the next pages also using this code

start=0
end=3
for i in range(start,end):
    d_tag=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')[:100]
    for i in d_tag:
        dis=i.text
        discount.append(dis)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [182]:
pro_descr=[]

In [183]:
#scraping data from the next pages also using this code

start=0
end=3
for i in range(start,end):
    d_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')[:100]
    for i in d_tag[0:100]:
        de=i.text
        pro_descr.append(de)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

ANSWER-8

In [207]:
#importing all the important libraries.

import selenium
import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [221]:
#calling webdriver chrome in driver variable.
driver=webdriver.Chrome(r'chromedriver.exe')

In [222]:
#getting all the data of site on the driver or we can say opening the link.

driver.get('https://www.amazon.in/')

In [223]:
#SENDING laptop text into the search field.

prod=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
prod.send_keys('Laptop')

In [224]:
#clicking on the search button using code.

search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [226]:
#selecting the mentioned checkbox asked in the question.

cpu_checkbox=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[13]/span/a/div/label/i')
cpu_checkbox.click()

In [227]:
#scraping title of the product using xpath.

title=[]
name_tag=driver.find_elements(By.XPATH,'//div[@class="a-section a-spacing-none puis-padding-right-small s-title-instructions-style"]')[:10]
for i in name_tag:
    title.append(i.text)

In [228]:
#scraping rating using xpath.

global_rating=[]
r_tag=driver.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]')[:10]
for i in r_tag:
    global_rating.append(i.text)

In [229]:
#scraping price using xpath.

price=[]
p_tag=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')[:10]
for i in p_tag:
    pri=i.text
    price.append(pri)

In [231]:
#creating dataframe from the data that has been asked to collect.

print(len(title),len(price),len(global_rating))

10 10 10

ANSWER-9

In [60]:
#importing all the important libraries.

import selenium
import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [33]:
#calling webdriver chrome in driver variable.
driver=webdriver.Chrome(r'chromedriver.exe')

In [34]:
#getting all the data of site on the driver or we can say opening the link.

driver.get('https://www.ambitionbox.com/')

In [35]:
#clicking on the job button using code.

job=driver.find_element(By.CLASS_NAME,"navItemLink")
job.click()

In [36]:
#entering data scientist in the designation field using code.

designation=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
designation.send_keys('Data scientist')

#clicking on the search button using code.

search=driver.find_element(By.CLASS_NAME,"ctas-btn-medium")
search.click()

In [37]:
#clicking on the location button using code.

loc=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')
loc.click()

In [38]:
#sending noida as location in the location field.

search_loc=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
search_loc.send_keys('Noida')

In [39]:
#clicking on the search button using code.

select_loc=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
select_loc.click()

In [40]:
#scraping company name using xpath.

company=[]
com_tag=driver.find_elements(By.XPATH,'//p[@class="company body-medium"]')
for i in com_tag[0:10]:
    company.append(i.text)

In [56]:
#scraping posted day using xpath.

posted=[]
pos_tag=driver.find_elements(By.XPATH,'//span[@class="body-small-l"]')
for i in pos_tag[0:10]:
    posted.append(i.text)

In [58]:
#scraping rating using xpath.

rating=[]
rat_tag=driver.find_elements(By.XPATH,'//span[@class="body-small"]')
for i in rat_tag[0:10]:
    rating.append(i.text)

In [59]:
#creating dataframe from the data that has been asked to collect.

job_table=pd.DataFrame({'COMPANY NAME':company,'POSTED':posted,'RATING OF THE COMPANY':rating})
job_table

,COMPANY NAME,POSTED,RATING OF THE COMPANY
0,CBRE South Asia Pvt Ltd,7d ago,4.3
1,GENPACT India Private Limited,via naukri.com,4.0
2,Genpact,13hr ago,4.0
3,Ericsson India Global Services Pvt. Ltd.,via naukri.com,4.3
4,GENPACT India Private Limited,2d ago,4.0
5,Optum Global Solutions (India) Private Limited,via iimjobs.com,4.1
6,Optum Global Solutions (India) Private Limited,17d ago,4.1
7,Ericsson India Global Services Pvt. Ltd.,via naukri.com,4.3
8,SOPRA STERIA INDIA LIMITED,10d ago,4.2
9,EXL Services.com ( I ) Pvt. Ltd.,via naukri.com,3.9

ANSWER-10

In [185]:
#importing all the important libraries.

import selenium
import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [186]:
#calling webdriver chrome in driver variable.
driver=webdriver.Chrome(r'chromedriver.exe')

In [187]:
#getting all the data of site on the driver or we can say opening the link.

driver.get('https://www.ambitionbox.com/')

In [188]:
#clicking on the salary button using code.

salary=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[3]')
salary.click()

In [189]:
#after clicking on the salary button a list appears so selecting the option of browse salary from there by clicking on it.

salary_browse=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[3]/div/ul/li[1]/div')
salary_browse.click()

In [190]:
#sending data scientist in the field of job search.

job=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
job.send_keys('data scientist')

In [199]:
#clicking on the data science option that appears using code.

search=driver.find_element(By.CLASS_NAME,"tt_text")
search.click()

In [200]:
#scraping company name using xpath.

company=[]
com_tag=driver.find_elements(By.XPATH,'//div[@class="company-info"]')
for i in com_tag[:10]:
    company.append(i.text.replace('\nData Scientist Salary','').split())

In [201]:
#scraping salary record using xpath.

salrecord=[]
record=driver.find_elements(By.XPATH,'//span[@class="datapoints"]')
for i in record:
    salrecord.append(i.text)

In [202]:
#scraping average salary of first 10 job.

avg_sal=[]
average=driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')
for i in average:
    avg_sal.append(i.text)

In [203]:
#scraping experience required for the job.

exp=[]
expreq=driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]')
for i in expreq:
    exp.append(i.text.split()[:3])

In [204]:
#scraping the maximum salary.

maxsal=[]
maxx_tag=driver.find_elements(By.XPATH,'//div[@class="salary-values"]/div[2]')
for i in maxx_tag:
    maxsal.append(i.text)
    
#scraping the minimum salary
    
minsal=[]
minn_tag=driver.find_elements(By.XPATH,'//div[@class="salary-values"]/div[1]')
for i in minn_tag:
    minsal.append(i.text)

In [205]:
#checking the length of the variables .

print(len(company),len(avg_sal),len(maxsal),len(minsal),len(exp),len(salrecord))

10 10 10 10 10 10

In [206]:
#creating dataframe from the data that has been asked to collect.

b=pd.DataFrame({'COMPANY':company,'TOTAL SALARY RECORD':salrecord,'MAXIMUM SALARY':maxsal,'MINIMUM SALARY':minsal,'AVERAGE SALARY':avg_sal,'EXPERIENCE REQUIRED':exp})
b

,COMPANY,TOTAL SALARY RECORD,MAXIMUM SALARY,MINIMUM SALARY,AVERAGE SALARY,EXPERIENCE REQUIRED
0,"[Walmart, 3-4, yrs, experience, (based, on, 22...",(based on 22 salaries),₹ 45.0L,₹ 25.0L,₹ 31.7L,"[3-4, yrs, experience]"
1,"[Ab, Inbev, 2-4, yrs, experience, (based, on, ...",(based on 53 salaries),₹ 25.5L,₹ 15.0L,₹ 19.7L,"[2-4, yrs, experience]"
2,"[Optum, 2-4, yrs, experience, (based, on, 48, ...",(based on 48 salaries),₹ 22.6L,₹ 11.0L,₹ 16.5L,"[2-4, yrs, experience]"
3,"[ZS, 1-2, yrs, experience, (based, on, 33, sal...",(based on 33 salaries),₹ 22.0L,₹ 11.0L,₹ 15.7L,"[1-2, yrs, experience]"
4,"[Fractal, Analytics, 2-4, yrs, experience, (ba...",(based on 109 salaries),₹ 23.0L,₹ 9.0L,₹ 15.2L,"[2-4, yrs, experience]"
5,"[Tiger, Analytics, 2-4, yrs, experience, (base...",(based on 65 salaries),₹ 20.0L,₹ 9.0L,₹ 14.7L,"[2-4, yrs, experience]"
6,"[Legato, Health, Technologies, 4, yrs, experie...",(based on 11 salaries),₹ 20.0L,₹ 11.0L,₹ 14.5L,"[4, yrs, experience]"
7,"[Tredence, 3, yrs, experience, (based, on, 12,...",(based on 12 salaries),₹ 17.5L,₹ 8.8L,₹ 14.1L,"[3, yrs, experience]"
8,"[UnitedHealth, 2-4, yrs, experience, (based, o...",(based on 91 salaries),₹ 20.5L,₹ 8.0L,₹ 13.6L,"[2-4, yrs, experience]"
9,"[Ford, Motor, 3-4, yrs, experience, (based, on...",(based on 21 salaries),₹ 18.0L,₹ 10.0L,₹ 13.5L,"[3-4, yrs, experience]"

QUESTION 7 WAS ASKED TO SKIP AS THE SITE WASN'T ALLOWING TO SCRAP THE DATA OR INSPECT.